header {
    width: 100%;
    height: 150px;
}

header img {
    padding: .5rem;
    margin: .5rem;
    height: 90px;
}

.img-logo {
    
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    background: #F2AA52;
}




@media only screen and (max-width: 457px) {
    header {
        width: auto;
        height: 100px;
    }

    header img {
        height: 70px;
    }

    .img-logo {
        height: 100px;
    }

}